.blogPreview{
    min-height: 100vh;
}

.blogCard{
    height: 200px;
}

.blogImg{
    height: 170px;
    width: 270px;
}

.fas{
    font-size: 20px;
}

.fav{
    margin-right: 10px;
}

.shopContainer{
    min-height: 100vh;
    width: 400px;
    background: lightgray;
    margin: 10px;
    border-radius: 5px;
}

.blogContainer{
    background: lightgray;
    min-height: 100vh;
    margin: 10px;
    border-radius: 5px;

}

.chatContainer{
    background: lightgray;
    min-height: 100vh;
    margin: 10px;
    border-radius: 5px;

}